<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sggcrm.mapper.AuthoritiesMapper" >
  <resultMap id="BaseResultMap" type="com.sggcrm.pojo.Authorities" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DISPLAY_NAME" property="displayName" jdbcType="VARCHAR" />
    <result column="PERMISSIONS" property="permissions" jdbcType="VARCHAR" />
    <result column="PARENT_AUTHORITY_ID" property="parentAuthorityId" jdbcType="INTEGER" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from authorities
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sggcrm.pojo.Authorities" >
    insert into authorities (ID, NAME, DISPLAY_NAME, 
      PERMISSIONS, PARENT_AUTHORITY_ID, URL
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{displayName,jdbcType=VARCHAR}, 
      #{permissions,jdbcType=VARCHAR}, #{parentAuthorityId,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sggcrm.pojo.Authorities" >
    update authorities
    set NAME = #{name,jdbcType=VARCHAR},
      DISPLAY_NAME = #{displayName,jdbcType=VARCHAR},
      PERMISSIONS = #{permissions,jdbcType=VARCHAR},
      PARENT_AUTHORITY_ID = #{parentAuthorityId,jdbcType=INTEGER},
      URL = #{url,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ID, NAME, DISPLAY_NAME, PERMISSIONS, PARENT_AUTHORITY_ID, URL
    from authorities
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, NAME, DISPLAY_NAME, PERMISSIONS, PARENT_AUTHORITY_ID, URL
    from authorities
  </select>
</mapper>