<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sggcrm.mapper.ContactsMapper" >
  <resultMap id="BaseResultMap" type="com.sggcrm.pojo.Contacts" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="POSITION" property="position" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
    <result column="CUSTOMER_ID" property="customerId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from contacts
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sggcrm.pojo.Contacts" >
    insert into contacts (ID, MEMO, MOBILE, 
      NAME, POSITION, SEX, 
      TEL, CUSTOMER_ID)
    values (#{id,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{customerId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sggcrm.pojo.Contacts" >
    update contacts
    set MEMO = #{memo,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      POSITION = #{position,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      CUSTOMER_ID = #{customerId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ID, MEMO, MOBILE, NAME, POSITION, SEX, TEL, CUSTOMER_ID
    from contacts
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, MEMO, MOBILE, NAME, POSITION, SEX, TEL, CUSTOMER_ID
    from contacts
  </select>
</mapper>