<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sggcrm.mapper.CustomerActivitiesMapper" >
  <resultMap id="BaseResultMap" type="com.sggcrm.pojo.CustomerActivities" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ACTIVITY_DATE" property="activityDate" jdbcType="TIMESTAMP" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="PLACE" property="place" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="CUSTOMER_ID" property="customerId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customer_activities
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sggcrm.pojo.CustomerActivities" >
    insert into customer_activities (ID, ACTIVITY_DATE, DESCRIPTION, 
      PLACE, TITLE, CUSTOMER_ID
      )
    values (#{id,jdbcType=INTEGER}, #{activityDate,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}, 
      #{place,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{customerId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sggcrm.pojo.CustomerActivities" >
    update customer_activities
    set ACTIVITY_DATE = #{activityDate,jdbcType=TIMESTAMP},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      PLACE = #{place,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      CUSTOMER_ID = #{customerId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ID, ACTIVITY_DATE, DESCRIPTION, PLACE, TITLE, CUSTOMER_ID
    from customer_activities
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, ACTIVITY_DATE, DESCRIPTION, PLACE, TITLE, CUSTOMER_ID
    from customer_activities
  </select>
</mapper>