<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sggcrm.mapper.CustomerDrainsMapper" >
  <resultMap id="BaseResultMap" type="com.sggcrm.pojo.CustomerDrains" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DELAY" property="delay" jdbcType="VARCHAR" />
    <result column="DRAIN_DATE" property="drainDate" jdbcType="TIMESTAMP" />
    <result column="LAST_ORDER_DATE" property="lastOrderDate" jdbcType="TIMESTAMP" />
    <result column="REASON" property="reason" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CUSTOMER_ID" property="customerId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customer_drains
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sggcrm.pojo.CustomerDrains" >
    insert into customer_drains (ID, DELAY, DRAIN_DATE, 
      LAST_ORDER_DATE, REASON, STATUS, 
      CUSTOMER_ID)
    values (#{id,jdbcType=INTEGER}, #{delay,jdbcType=VARCHAR}, #{drainDate,jdbcType=TIMESTAMP}, 
      #{lastOrderDate,jdbcType=TIMESTAMP}, #{reason,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{customerId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sggcrm.pojo.CustomerDrains" >
    update customer_drains
    set DELAY = #{delay,jdbcType=VARCHAR},
      DRAIN_DATE = #{drainDate,jdbcType=TIMESTAMP},
      LAST_ORDER_DATE = #{lastOrderDate,jdbcType=TIMESTAMP},
      REASON = #{reason,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CUSTOMER_ID = #{customerId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ID, DELAY, DRAIN_DATE, LAST_ORDER_DATE, REASON, STATUS, CUSTOMER_ID
    from customer_drains
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, DELAY, DRAIN_DATE, LAST_ORDER_DATE, REASON, STATUS, CUSTOMER_ID
    from customer_drains
  </select>
</mapper>