<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sggcrm.mapper.CustomersMapper" >
  <resultMap id="BaseResultMap" type="com.sggcrm.pojo.Customers" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="BANK" property="bank" jdbcType="VARCHAR" />
    <result column="BANK_ACCOUNT" property="bankAccount" jdbcType="VARCHAR" />
    <result column="BANKROLL" property="bankroll" jdbcType="INTEGER" />
    <result column="CHIEF" property="chief" jdbcType="VARCHAR" />
    <result column="CREDIT" property="credit" jdbcType="VARCHAR" />
    <result column="FAX" property="fax" jdbcType="VARCHAR" />
    <result column="LICENCE_NO" property="licenceNo" jdbcType="VARCHAR" />
    <result column="LOCAL_TAX_NO" property="localTaxNo" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="NATIONAL_TAX_NO" property="nationalTaxNo" jdbcType="VARCHAR" />
    <result column="NO" property="no" jdbcType="VARCHAR" />
    <result column="REGION" property="region" jdbcType="VARCHAR" />
    <result column="SATIFY" property="satify" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
    <result column="TURNOVER" property="turnover" jdbcType="INTEGER" />
    <result column="WEBSIT" property="websit" jdbcType="VARCHAR" />
    <result column="ZIP" property="zip" jdbcType="VARCHAR" />
    <result column="MANAGER_ID" property="managerId" jdbcType="INTEGER" />
    <result column="CUSTOMER_LEVEL" property="customerLevel" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customers
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sggcrm.pojo.Customers" >
    insert into customers (ID, ADDRESS, BANK, 
      BANK_ACCOUNT, BANKROLL, CHIEF, 
      CREDIT, FAX, LICENCE_NO, 
      LOCAL_TAX_NO, NAME, NATIONAL_TAX_NO, 
      NO, REGION, SATIFY, 
      STATE, TEL, TURNOVER, 
      WEBSIT, ZIP, MANAGER_ID, 
      CUSTOMER_LEVEL)
    values (#{id,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{bank,jdbcType=VARCHAR}, 
      #{bankAccount,jdbcType=VARCHAR}, #{bankroll,jdbcType=INTEGER}, #{chief,jdbcType=VARCHAR}, 
      #{credit,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{licenceNo,jdbcType=VARCHAR}, 
      #{localTaxNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{nationalTaxNo,jdbcType=VARCHAR}, 
      #{no,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, #{satify,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{turnover,jdbcType=INTEGER}, 
      #{websit,jdbcType=VARCHAR}, #{zip,jdbcType=VARCHAR}, #{managerId,jdbcType=INTEGER}, 
      #{customerLevel,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sggcrm.pojo.Customers" >
    update customers
    set ADDRESS = #{address,jdbcType=VARCHAR},
      BANK = #{bank,jdbcType=VARCHAR},
      BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR},
      BANKROLL = #{bankroll,jdbcType=INTEGER},
      CHIEF = #{chief,jdbcType=VARCHAR},
      CREDIT = #{credit,jdbcType=VARCHAR},
      FAX = #{fax,jdbcType=VARCHAR},
      LICENCE_NO = #{licenceNo,jdbcType=VARCHAR},
      LOCAL_TAX_NO = #{localTaxNo,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      NATIONAL_TAX_NO = #{nationalTaxNo,jdbcType=VARCHAR},
      NO = #{no,jdbcType=VARCHAR},
      REGION = #{region,jdbcType=VARCHAR},
      SATIFY = #{satify,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      TURNOVER = #{turnover,jdbcType=INTEGER},
      WEBSIT = #{websit,jdbcType=VARCHAR},
      ZIP = #{zip,jdbcType=VARCHAR},
      MANAGER_ID = #{managerId,jdbcType=INTEGER},
      CUSTOMER_LEVEL = #{customerLevel,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ID, ADDRESS, BANK, BANK_ACCOUNT, BANKROLL, CHIEF, CREDIT, FAX, LICENCE_NO, 
    LOCAL_TAX_NO, NAME, NATIONAL_TAX_NO, NO, REGION, SATIFY, STATE, TEL, TURNOVER, WEBSIT, 
    ZIP, MANAGER_ID, CUSTOMER_LEVEL
    from customers
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, ADDRESS, BANK, BANK_ACCOUNT, BANKROLL, CHIEF, CREDIT, FAX, LICENCE_NO, 
    LOCAL_TAX_NO, NAME, NATIONAL_TAX_NO, NO, REGION, SATIFY, STATE, TEL, TURNOVER, WEBSIT, 
    ZIP, MANAGER_ID, CUSTOMER_LEVEL
    from customers
  </select>
</mapper>