<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sggcrm.mapper.CustomerServicesMapper" >
  <resultMap id="BaseResultMap" type="com.sggcrm.pojo.CustomerServices" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ALLOT_DATE" property="allotDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="DEAL_DATE" property="dealDate" jdbcType="TIMESTAMP" />
    <result column="DEAL_RESULT" property="dealResult" jdbcType="VARCHAR" />
    <result column="SATISFY" property="satisfy" jdbcType="VARCHAR" />
    <result column="SERVICE_DEAL" property="serviceDeal" jdbcType="VARCHAR" />
    <result column="SERVICE_REQUEST" property="serviceRequest" jdbcType="VARCHAR" />
    <result column="SERVICE_STATE" property="serviceState" jdbcType="VARCHAR" />
    <result column="SERVICE_TITLE" property="serviceTitle" jdbcType="VARCHAR" />
    <result column="SERVICE_TYPE" property="serviceType" jdbcType="VARCHAR" />
    <result column="ALLOT_ID" property="allotId" jdbcType="INTEGER" />
    <result column="CREATED_ID" property="createdId" jdbcType="INTEGER" />
    <result column="CUSTOMER_ID" property="customerId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customer_services
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sggcrm.pojo.CustomerServices" >
    insert into customer_services (ID, ALLOT_DATE, CREATE_DATE, 
      DEAL_DATE, DEAL_RESULT, SATISFY, 
      SERVICE_DEAL, SERVICE_REQUEST, SERVICE_STATE, 
      SERVICE_TITLE, SERVICE_TYPE, ALLOT_ID, 
      CREATED_ID, CUSTOMER_ID)
    values (#{id,jdbcType=INTEGER}, #{allotDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, 
      #{dealDate,jdbcType=TIMESTAMP}, #{dealResult,jdbcType=VARCHAR}, #{satisfy,jdbcType=VARCHAR}, 
      #{serviceDeal,jdbcType=VARCHAR}, #{serviceRequest,jdbcType=VARCHAR}, #{serviceState,jdbcType=VARCHAR}, 
      #{serviceTitle,jdbcType=VARCHAR}, #{serviceType,jdbcType=VARCHAR}, #{allotId,jdbcType=INTEGER}, 
      #{createdId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sggcrm.pojo.CustomerServices" >
    update customer_services
    set ALLOT_DATE = #{allotDate,jdbcType=TIMESTAMP},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      DEAL_DATE = #{dealDate,jdbcType=TIMESTAMP},
      DEAL_RESULT = #{dealResult,jdbcType=VARCHAR},
      SATISFY = #{satisfy,jdbcType=VARCHAR},
      SERVICE_DEAL = #{serviceDeal,jdbcType=VARCHAR},
      SERVICE_REQUEST = #{serviceRequest,jdbcType=VARCHAR},
      SERVICE_STATE = #{serviceState,jdbcType=VARCHAR},
      SERVICE_TITLE = #{serviceTitle,jdbcType=VARCHAR},
      SERVICE_TYPE = #{serviceType,jdbcType=VARCHAR},
      ALLOT_ID = #{allotId,jdbcType=INTEGER},
      CREATED_ID = #{createdId,jdbcType=INTEGER},
      CUSTOMER_ID = #{customerId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ID, ALLOT_DATE, CREATE_DATE, DEAL_DATE, DEAL_RESULT, SATISFY, SERVICE_DEAL, 
    SERVICE_REQUEST, SERVICE_STATE, SERVICE_TITLE, SERVICE_TYPE, ALLOT_ID, CREATED_ID, 
    CUSTOMER_ID
    from customer_services
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, ALLOT_DATE, CREATE_DATE, DEAL_DATE, DEAL_RESULT, SATISFY, SERVICE_DEAL, 
    SERVICE_REQUEST, SERVICE_STATE, SERVICE_TITLE, SERVICE_TYPE, ALLOT_ID, CREATED_ID, 
    CUSTOMER_ID
    from customer_services
  </select>
</mapper>