<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sggcrm.mapper.CustomersMapper" >
  <resultMap id="BaseResultMap" type="com.sggcrm.pojo.Customers" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="BANK" property="bank" jdbcType="VARCHAR" />
    <result column="BANK_ACCOUNT" property="bankAccount" jdbcType="VARCHAR" />
    <result column="BANKROLL" property="bankroll" jdbcType="INTEGER" />
    <result column="CHIEF" property="chief" jdbcType="VARCHAR" />
    <result column="CREDIT" property="credit" jdbcType="VARCHAR" />
    <result column="FAX" property="fax" jdbcType="VARCHAR" />
    <result column="LICENCE_NO" property="licenceNo" jdbcType="VARCHAR" />
    <result column="LOCAL_TAX_NO" property="localTaxNo" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="NATIONAL_TAX_NO" property="nationalTaxNo" jdbcType="VARCHAR" />
    <result column="NO" property="no" jdbcType="VARCHAR" />
    <result column="REGION" property="region" jdbcType="VARCHAR" />
    <result column="SATIFY" property="satify" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
    <result column="TURNOVER" property="turnover" jdbcType="INTEGER" />
    <result column="WEBSIT" property="websit" jdbcType="VARCHAR" />
    <result column="ZIP" property="zip" jdbcType="VARCHAR" />
    <result column="MANAGER_ID" property="managerId" jdbcType="INTEGER" />
    <result column="CUSTOMER_LEVEL" property="customerLevel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ADDRESS, BANK, BANK_ACCOUNT, BANKROLL, CHIEF, CREDIT, FAX, LICENCE_NO, LOCAL_TAX_NO, 
    NAME, NATIONAL_TAX_NO, NO, REGION, SATIFY, STATE, TEL, TURNOVER, WEBSIT, ZIP, MANAGER_ID, 
    CUSTOMER_LEVEL
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sggcrm.pojo.CustomersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from customers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from customers
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customers
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sggcrm.pojo.CustomersExample" >
    delete from customers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sggcrm.pojo.Customers" >
    insert into customers (ID, ADDRESS, BANK, 
      BANK_ACCOUNT, BANKROLL, CHIEF, 
      CREDIT, FAX, LICENCE_NO, 
      LOCAL_TAX_NO, NAME, NATIONAL_TAX_NO, 
      NO, REGION, SATIFY, 
      STATE, TEL, TURNOVER, 
      WEBSIT, ZIP, MANAGER_ID, 
      CUSTOMER_LEVEL)
    values (#{id,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{bank,jdbcType=VARCHAR}, 
      #{bankAccount,jdbcType=VARCHAR}, #{bankroll,jdbcType=INTEGER}, #{chief,jdbcType=VARCHAR}, 
      #{credit,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{licenceNo,jdbcType=VARCHAR}, 
      #{localTaxNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{nationalTaxNo,jdbcType=VARCHAR}, 
      #{no,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, #{satify,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{turnover,jdbcType=INTEGER}, 
      #{websit,jdbcType=VARCHAR}, #{zip,jdbcType=VARCHAR}, #{managerId,jdbcType=INTEGER}, 
      #{customerLevel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sggcrm.pojo.Customers" >
    insert into customers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="bank != null" >
        BANK,
      </if>
      <if test="bankAccount != null" >
        BANK_ACCOUNT,
      </if>
      <if test="bankroll != null" >
        BANKROLL,
      </if>
      <if test="chief != null" >
        CHIEF,
      </if>
      <if test="credit != null" >
        CREDIT,
      </if>
      <if test="fax != null" >
        FAX,
      </if>
      <if test="licenceNo != null" >
        LICENCE_NO,
      </if>
      <if test="localTaxNo != null" >
        LOCAL_TAX_NO,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="nationalTaxNo != null" >
        NATIONAL_TAX_NO,
      </if>
      <if test="no != null" >
        NO,
      </if>
      <if test="region != null" >
        REGION,
      </if>
      <if test="satify != null" >
        SATIFY,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="tel != null" >
        TEL,
      </if>
      <if test="turnover != null" >
        TURNOVER,
      </if>
      <if test="websit != null" >
        WEBSIT,
      </if>
      <if test="zip != null" >
        ZIP,
      </if>
      <if test="managerId != null" >
        MANAGER_ID,
      </if>
      <if test="customerLevel != null" >
        CUSTOMER_LEVEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="bank != null" >
        #{bank,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankroll != null" >
        #{bankroll,jdbcType=INTEGER},
      </if>
      <if test="chief != null" >
        #{chief,jdbcType=VARCHAR},
      </if>
      <if test="credit != null" >
        #{credit,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="licenceNo != null" >
        #{licenceNo,jdbcType=VARCHAR},
      </if>
      <if test="localTaxNo != null" >
        #{localTaxNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nationalTaxNo != null" >
        #{nationalTaxNo,jdbcType=VARCHAR},
      </if>
      <if test="no != null" >
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="satify != null" >
        #{satify,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="turnover != null" >
        #{turnover,jdbcType=INTEGER},
      </if>
      <if test="websit != null" >
        #{websit,jdbcType=VARCHAR},
      </if>
      <if test="zip != null" >
        #{zip,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null" >
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="customerLevel != null" >
        #{customerLevel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sggcrm.pojo.CustomersExample" resultType="java.lang.Integer" >
    select count(*) from customers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update customers
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.address != null" >
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.bank != null" >
        BANK = #{record.bank,jdbcType=VARCHAR},
      </if>
      <if test="record.bankAccount != null" >
        BANK_ACCOUNT = #{record.bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.bankroll != null" >
        BANKROLL = #{record.bankroll,jdbcType=INTEGER},
      </if>
      <if test="record.chief != null" >
        CHIEF = #{record.chief,jdbcType=VARCHAR},
      </if>
      <if test="record.credit != null" >
        CREDIT = #{record.credit,jdbcType=VARCHAR},
      </if>
      <if test="record.fax != null" >
        FAX = #{record.fax,jdbcType=VARCHAR},
      </if>
      <if test="record.licenceNo != null" >
        LICENCE_NO = #{record.licenceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.localTaxNo != null" >
        LOCAL_TAX_NO = #{record.localTaxNo,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.nationalTaxNo != null" >
        NATIONAL_TAX_NO = #{record.nationalTaxNo,jdbcType=VARCHAR},
      </if>
      <if test="record.no != null" >
        NO = #{record.no,jdbcType=VARCHAR},
      </if>
      <if test="record.region != null" >
        REGION = #{record.region,jdbcType=VARCHAR},
      </if>
      <if test="record.satify != null" >
        SATIFY = #{record.satify,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null" >
        TEL = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.turnover != null" >
        TURNOVER = #{record.turnover,jdbcType=INTEGER},
      </if>
      <if test="record.websit != null" >
        WEBSIT = #{record.websit,jdbcType=VARCHAR},
      </if>
      <if test="record.zip != null" >
        ZIP = #{record.zip,jdbcType=VARCHAR},
      </if>
      <if test="record.managerId != null" >
        MANAGER_ID = #{record.managerId,jdbcType=INTEGER},
      </if>
      <if test="record.customerLevel != null" >
        CUSTOMER_LEVEL = #{record.customerLevel,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update customers
    set ID = #{record.id,jdbcType=INTEGER},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      BANK = #{record.bank,jdbcType=VARCHAR},
      BANK_ACCOUNT = #{record.bankAccount,jdbcType=VARCHAR},
      BANKROLL = #{record.bankroll,jdbcType=INTEGER},
      CHIEF = #{record.chief,jdbcType=VARCHAR},
      CREDIT = #{record.credit,jdbcType=VARCHAR},
      FAX = #{record.fax,jdbcType=VARCHAR},
      LICENCE_NO = #{record.licenceNo,jdbcType=VARCHAR},
      LOCAL_TAX_NO = #{record.localTaxNo,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      NATIONAL_TAX_NO = #{record.nationalTaxNo,jdbcType=VARCHAR},
      NO = #{record.no,jdbcType=VARCHAR},
      REGION = #{record.region,jdbcType=VARCHAR},
      SATIFY = #{record.satify,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=VARCHAR},
      TEL = #{record.tel,jdbcType=VARCHAR},
      TURNOVER = #{record.turnover,jdbcType=INTEGER},
      WEBSIT = #{record.websit,jdbcType=VARCHAR},
      ZIP = #{record.zip,jdbcType=VARCHAR},
      MANAGER_ID = #{record.managerId,jdbcType=INTEGER},
      CUSTOMER_LEVEL = #{record.customerLevel,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sggcrm.pojo.Customers" >
    update customers
    <set >
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="bank != null" >
        BANK = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankroll != null" >
        BANKROLL = #{bankroll,jdbcType=INTEGER},
      </if>
      <if test="chief != null" >
        CHIEF = #{chief,jdbcType=VARCHAR},
      </if>
      <if test="credit != null" >
        CREDIT = #{credit,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        FAX = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="licenceNo != null" >
        LICENCE_NO = #{licenceNo,jdbcType=VARCHAR},
      </if>
      <if test="localTaxNo != null" >
        LOCAL_TAX_NO = #{localTaxNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nationalTaxNo != null" >
        NATIONAL_TAX_NO = #{nationalTaxNo,jdbcType=VARCHAR},
      </if>
      <if test="no != null" >
        NO = #{no,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        REGION = #{region,jdbcType=VARCHAR},
      </if>
      <if test="satify != null" >
        SATIFY = #{satify,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="turnover != null" >
        TURNOVER = #{turnover,jdbcType=INTEGER},
      </if>
      <if test="websit != null" >
        WEBSIT = #{websit,jdbcType=VARCHAR},
      </if>
      <if test="zip != null" >
        ZIP = #{zip,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null" >
        MANAGER_ID = #{managerId,jdbcType=INTEGER},
      </if>
      <if test="customerLevel != null" >
        CUSTOMER_LEVEL = #{customerLevel,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sggcrm.pojo.Customers" >
    update customers
    set ADDRESS = #{address,jdbcType=VARCHAR},
      BANK = #{bank,jdbcType=VARCHAR},
      BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR},
      BANKROLL = #{bankroll,jdbcType=INTEGER},
      CHIEF = #{chief,jdbcType=VARCHAR},
      CREDIT = #{credit,jdbcType=VARCHAR},
      FAX = #{fax,jdbcType=VARCHAR},
      LICENCE_NO = #{licenceNo,jdbcType=VARCHAR},
      LOCAL_TAX_NO = #{localTaxNo,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      NATIONAL_TAX_NO = #{nationalTaxNo,jdbcType=VARCHAR},
      NO = #{no,jdbcType=VARCHAR},
      REGION = #{region,jdbcType=VARCHAR},
      SATIFY = #{satify,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      TURNOVER = #{turnover,jdbcType=INTEGER},
      WEBSIT = #{websit,jdbcType=VARCHAR},
      ZIP = #{zip,jdbcType=VARCHAR},
      MANAGER_ID = #{managerId,jdbcType=INTEGER},
      CUSTOMER_LEVEL = #{customerLevel,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>