<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sggcrm.mapper.DictsMapper" >
  <resultMap id="BaseResultMap" type="com.sggcrm.pojo.Dicts" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="EDITABLE" property="editable" jdbcType="INTEGER" />
    <result column="ITEM" property="item" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="VALUE" property="value" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dicts
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sggcrm.pojo.Dicts" >
    insert into dicts (ID, EDITABLE, ITEM, 
      TYPE, VALUE)
    values (#{id,jdbcType=INTEGER}, #{editable,jdbcType=INTEGER}, #{item,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sggcrm.pojo.Dicts" >
    update dicts
    set EDITABLE = #{editable,jdbcType=INTEGER},
      ITEM = #{item,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      VALUE = #{value,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ID, EDITABLE, ITEM, TYPE, VALUE
    from dicts
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, EDITABLE, ITEM, TYPE, VALUE
    from dicts
  </select>
</mapper>