<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sggcrm.mapper.RolesMapper" >
  <resultMap id="BaseResultMap" type="com.sggcrm.pojo.Roles" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="ENABLED" property="enabled" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from roles
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sggcrm.pojo.Roles" >
    insert into roles (ID, DESCRIPTION, ENABLED, 
      NAME)
    values (#{id,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{enabled,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sggcrm.pojo.Roles" >
    update roles
    set DESCRIPTION = #{description,jdbcType=VARCHAR},
      ENABLED = #{enabled,jdbcType=INTEGER},
      NAME = #{name,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ID, DESCRIPTION, ENABLED, NAME
    from roles
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, DESCRIPTION, ENABLED, NAME
    from roles
  </select>
</mapper>