<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sggcrm.mapper.SalesChancesMapper" >
  <resultMap id="BaseResultMap" type="com.sggcrm.pojo.SalesChances" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CONTACT" property="contact" jdbcType="VARCHAR" />
    <result column="CONTACT_TEL" property="contactTel" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="CUST_NAME" property="custName" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="DESIGNEE_DATE" property="designeeDate" jdbcType="TIMESTAMP" />
    <result column="RATE" property="rate" jdbcType="INTEGER" />
    <result column="SOURCE" property="source" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="CREATED_USER_ID" property="createdUserId" jdbcType="INTEGER" />
    <result column="DESIGNEE_ID" property="designeeId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sales_chances
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sggcrm.pojo.SalesChances" >
    insert into sales_chances (ID, CONTACT, CONTACT_TEL, 
      CREATE_DATE, CUST_NAME, DESCRIPTION, 
      DESIGNEE_DATE, RATE, SOURCE, 
      STATUS, TITLE, CREATED_USER_ID, 
      DESIGNEE_ID)
    values (#{id,jdbcType=INTEGER}, #{contact,jdbcType=VARCHAR}, #{contactTel,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{custName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{designeeDate,jdbcType=TIMESTAMP}, #{rate,jdbcType=INTEGER}, #{source,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{createdUserId,jdbcType=INTEGER}, 
      #{designeeId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sggcrm.pojo.SalesChances" >
    update sales_chances
    set CONTACT = #{contact,jdbcType=VARCHAR},
      CONTACT_TEL = #{contactTel,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CUST_NAME = #{custName,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      DESIGNEE_DATE = #{designeeDate,jdbcType=TIMESTAMP},
      RATE = #{rate,jdbcType=INTEGER},
      SOURCE = #{source,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      TITLE = #{title,jdbcType=VARCHAR},
      CREATED_USER_ID = #{createdUserId,jdbcType=INTEGER},
      DESIGNEE_ID = #{designeeId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ID, CONTACT, CONTACT_TEL, CREATE_DATE, CUST_NAME, DESCRIPTION, DESIGNEE_DATE, 
    RATE, SOURCE, STATUS, TITLE, CREATED_USER_ID, DESIGNEE_ID
    from sales_chances
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, CONTACT, CONTACT_TEL, CREATE_DATE, CUST_NAME, DESCRIPTION, DESIGNEE_DATE, 
    RATE, SOURCE, STATUS, TITLE, CREATED_USER_ID, DESIGNEE_ID
    from sales_chances
  </select>
</mapper>