<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sggcrm.mapper.StoragesMapper" >
  <resultMap id="BaseResultMap" type="com.sggcrm.pojo.Storages" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="STOCK_COUNT" property="stockCount" jdbcType="INTEGER" />
    <result column="STOCK_WARE" property="stockWare" jdbcType="VARCHAR" />
    <result column="WARE_HOUSE" property="wareHouse" jdbcType="VARCHAR" />
    <result column="PRODUCT_ID" property="productId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from storages
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sggcrm.pojo.Storages" >
    insert into storages (ID, MEMO, STOCK_COUNT, 
      STOCK_WARE, WARE_HOUSE, PRODUCT_ID
      )
    values (#{id,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR}, #{stockCount,jdbcType=INTEGER}, 
      #{stockWare,jdbcType=VARCHAR}, #{wareHouse,jdbcType=VARCHAR}, #{productId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sggcrm.pojo.Storages" >
    update storages
    set MEMO = #{memo,jdbcType=VARCHAR},
      STOCK_COUNT = #{stockCount,jdbcType=INTEGER},
      STOCK_WARE = #{stockWare,jdbcType=VARCHAR},
      WARE_HOUSE = #{wareHouse,jdbcType=VARCHAR},
      PRODUCT_ID = #{productId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ID, MEMO, STOCK_COUNT, STOCK_WARE, WARE_HOUSE, PRODUCT_ID
    from storages
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, MEMO, STOCK_COUNT, STOCK_WARE, WARE_HOUSE, PRODUCT_ID
    from storages
  </select>
</mapper>